html {
    font-size: calc(1em + 0.5vw);
    line-height: calc(1.1em + 0.5vw);
}

body {
    text-align: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    color: #E5E5E5;
    font-family: 'Lato', sans-serif;

}

.main-container {
    display: flex;
    flex-direction: row;
    
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: #14213D;
    align-items: center;
    justify-content: space-around;
    transition: left 1s;
}

@media screen and (max-width: 600px) {

    .menu-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        background-color: #14213D;
        align-items: center;
        justify-content: space-around;
        overflow-x: hidden;
        transition: left 0.4s;
        left: -300px;
    }

    .right-section {
        width: 100vw!important;
    }

    .menu-icon-container {
        display: block!important;
        cursor: pointer;
        position: absolute;
        top: 2%;
        left: 2%;
    }

    .menu-open {
        left: 0;
    }

    .icons-container {
        width: 40vw!important;
    }

    .line1, .line2, .line3 {
        width: 35px;
        height: 5px;
        background-color: #14213D;
        margin: 6px 0;
        transition: 0.4s;
      }

    .menu-open .line1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        background: #E5E5E5;
    }

    .menu-open .line2 {
        opacity: 0;
    }

    .menu-open .line3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        background: #E5E5E5;
    }      

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: none;
    position: absolute;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: #E5E5E5;
    background: linear-gradient(to right, #FCA311, #FCA311 50%, #14213D 50%);
    background-size: 250% 100%;
    background-position: 100%;
    transition: background-position 300ms ease-in-out;
}

nav a:hover {
    background-position: 0 100%;
}


#thomas {
    padding: 20px;
    border-radius: 50%;
}

.menu-btn {
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    top: 5%;
    left: 5%;
    background-color: tomato;
}

.right-section {
    display: flex;
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    overflow: auto;
}

.right-section > * {
    padding: 20px;
}

h2 {
    display: block!important;
    color: #FCA311;
    font-family: 'Oswald', sans-serif;
}

.works-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.works-container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    outline: 0px solid #14213D;
    background:#14213D;
    background-size: 400% 400%;
    background-position: 0% 100%;
    transition: background 300ms ease-in-out;
    transition: outline 300ms ease-in-out;
}

.works-container div:hover {
    outline: 8px solid #FCA311;
}

.work-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    transition: color 350ms ease-in;
}

.work-link:hover {
    color: #FCA311;
}

.icons-container {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Style Scroll Bar */

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #FCA311;
  border: 0px none #14213d;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
  border: 0px none #e5e5e5;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
